<!DOCTYPE html>
	<html lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Medova Upload File</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="wrap-loading">
					<div class="content-loading">
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
					</div>
				</div>
				<div class="wrapper">
					<div class="drop">
						<div class="cont">
							<i class="fa fa-cloud-upload"></i>
							<div class="tit">Drag & Drop</div>
							<div class="desc">
								your Video or Audio
							</div>
							<div class="browse">click here to browse</div>
						</div>
						<input id="files" name="file" type="file" accept="video/*,audio/*" multiple>
					</div>
				</div>
	
				<ul class="list-group mt-5">
					<li v-for="item in dataFile" class="list-group-item d-flex justify-content-between align-items-center">
						<span>{{item.name}} {{item.uploaded}}</span>
						<i class="fa fa-spinner fa-pulse fa-fw"></i>
					</li>
				  </ul>
			</div>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script  src="./script.js"></script>
	</body>
</html>
