@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 400;
	background: white;
	color: #323a44;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.wrapper {
	width: 100%;
	height: 330px;
	margin-top: 50px;
	position: relative;
}

.drop {
	width: 100%;
	height: 100%;
	border: 3px dashed #DADFE3;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	background: white;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.drop .cont {
	width: 500px;
	height: 170px;
	color: #8E99A5;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin: 30px auto 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.drop .cont i {
	font-size: 300%;
	color: #8E99A5;
	position: relative;
}
.drop .cont .tit {
	font-size: 200%;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}
.drop .cont .desc {
	color: #A4AEBB;
}
.drop .cont .browse {
	margin: 30px 25% 10px;
	color: white;
	padding: 8px 16px;
	border-radius: 5px;
	background: #09f;
}
.drop input {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: red;
	opacity: 0;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#list {
	width: 100%;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;
}
#list .thumb {
	height: 75px;
	border: 1px solid #323a44;
	margin: 10px 5px 0 0;
}

.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.wrap-loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #fff;
	display: none;
}
.wrap-loading.show{
	display: block;
}
.content-loading{
	width: 82px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
